.zenosphere > a {
	display: block;
	width: 100%;
	text-align: center;
	padding: .5em 0;
}

.zenosphere .messages {
	line-height: 0;
	margin-left: 200px;
	margin-left: calc(200px - 0.7em);
	position: relative;
	border-left: 1px solid #000;
	padding: 0.5em 0 0.5em .7em;
}

.zenosphere .message, .zenosphere .message-date {
	line-height: 1.2em;
	margin: 0 0 0.2em;
}
	.zenosphere .message .fa {
		position: absolute;
		left: -0.5em;
		line-height: inherit;
		text-shadow: 3px 0   0 #fff, -3px 0   0 #fff, 0    3px 0 #fff,  0   -3px 0 #fff,
		             3px 3px 0 #fff, -3px 3px 0 #fff, 3px -3px 0 #fff, -3px -3px 0 #fff;
	}

.zenosphere .message-date {
	position: absolute;
	left: -200px;
	width: 200px;
	text-align: right;
	margin-left: -1em;
	margin-bottom: 0;
}

.zenosphere .message[data-link] {
	cursor: pointer;
}

.zenosphere .message-lastfm {
	font-size: 0.5em;
	margin-right: 1em;
	display: inline-block;
}
	.zenosphere .message-lastfm .fa {
		position: initial;
		text-shadow: none;
	}

	.zenosphere .message-lastfm .message-date {
		display: none;
	}
